body, html { height: 100%; overflow: hidden; }

#container, #main { height: 100%; overflow: hidden; }

#main { padding-top: 45px; }
#main > ul { margin-bottom: 0; }

nav.top-bar { margin-bottom: 0; position: absolute; width: 100%; }
nav.top-bar .name h1 { font-weight: bold; color: #fff; display: block; padding: 0 15px; }

#labels, #bookmarks { overflow: auto; white-space: nowrap; height: 100%; padding: 5px; }
#labels ul li, #bookmarks ul li { list-style-type: none; font-size: 13px; line-height: 18px; }
#labels ul li a, #bookmarks ul li a { padding: 0 4px; }

#labels { float: left; width: 50%; max-width: 330px; }
#labels ul { margin: 0; }
#labels ul li { /* god be with you if you have more than 10 levels of labels */ }
#labels ul li li a { padding-left: 1em; }
#labels ul li li li a { padding-left: 2em; }
#labels ul li li li li a { padding-left: 3em; }
#labels ul li li li li li a { padding-left: 4em; }
#labels ul li li li li li li a { padding-left: 5em; }
#labels ul li li li li li li li a { padding-left: 6em; }
#labels ul li li li li li li li li a { padding-left: 7em; }
#labels ul li li li li li li li li li a { padding-left: 8em; }
#labels ul li li li li li li li li li li a { padding-left: 9em; }
#labels ul li li li li li li li li li li li a { padding-left: 10em; }
#labels ul li a { color: #333; display: block; border: 1px solid #FFF; }
#labels ul li a:visited { color: #333; }
#labels ul li a:hover { background-color: #F1F7FF; border-color: #B6D4FC; }
#labels ul li a.private { color: #999; }
#labels ul li a.selected { background-color: #DEECFE; border-color: #7DA2CE; }

#bookmarks { border-left: 5px solid #000; }
#bookmarks ul li { border: 1px solid #FFF; }
#bookmarks ul li a { color: #11a; }
#bookmarks ul li a:visited { color: #51a; }
#bookmarks ul li a.private { color: #999; }
#bookmarks ul li a .url { color: #999; padding-left: 1em; visibility: hidden; }
#bookmarks ul li:hover { background-color: #F1F7FF; border-color: #B6D4FC; }
#bookmarks ul li:hover .url { visibility: visible; }
