body, html { height: 100%; overflow: hidden; }

.hidden { display: none; }

#container, #main, #app { height: 100%; overflow: hidden; }

#main { padding-top: 45px; }
#main > ul { margin-bottom: 0; }

nav.top-bar { margin-bottom: 0; position: absolute; width: 100%; }
nav.top-bar .name h1 { font-weight: bold; color: #fff; display: block; padding: 0 15px; }

#labels, #bookmarks { overflow: auto; white-space: nowrap; height: 100%; padding: 5px; }
#labels ul li, #bookmarks ul li { list-style-type: none; font-size: 13px; line-height: 18px; }

#labels { float: left; width: 50%; max-width: 330px; }
#labels ul { margin: 0; }
#labels ul li { /* god be with you if you have more than 10 levels of labels */ }
#labels ul li li a { padding-left: 1em; }
#labels ul li li li a { padding-left: 2em; }
#labels ul li li li li a { padding-left: 3em; }
#labels ul li li li li li a { padding-left: 4em; }
#labels ul li li li li li li a { padding-left: 5em; }
#labels ul li li li li li li li a { padding-left: 6em; }
#labels ul li li li li li li li li a { padding-left: 7em; }
#labels ul li li li li li li li li li a { padding-left: 8em; }
#labels ul li li li li li li li li li li a { padding-left: 9em; }
#labels ul li li li li li li li li li li li a { padding-left: 10em; }
#labels ul li a { color: #333; display: block; border: 1px solid #FFF; padding: 0 4px; }
#labels ul li a:visited { color: #333; }
#labels ul li a:hover { background-color: #F1F7FF; border-color: #B6D4FC; }
#labels ul li a.private { color: #999; }
#labels ul li a.selected { background-color: #DEECFE; border-color: #7DA2CE; }

#bookmarks { border-left: 5px solid #000; }
#bookmarks ul li div.bookmark { border: 1px solid #FFF; padding: 0 4px; cursor: pointer; }
#bookmarks ul li div.bookmark a { color: #11a; }
#bookmarks ul li div.bookmark a:visited { color: #51a; }
#bookmarks ul li div.bookmark a.private { color: #999; }
#bookmarks ul li div.bookmark a .url { color: #999; padding-left: 1em; visibility: hidden; }
#bookmarks ul li div.bookmark .additional { white-space: normal; }
#bookmarks ul li div.bookmark .additional .tags .label { margin-bottom: 3px; }
#bookmarks ul li div.bookmark .additional .tags .label.tag { background-color: #a51; color: #fff; -webkit-border-radius: 1000px; border-radius: 1000px; }
#bookmarks ul li div.bookmark .additional .tags .label.tag.private { background-color: #855936; color: #FFF; }
#bookmarks ul li div.bookmark .additional .tags .label.private { background-color: #5c8c9a; color: #FFF; }
#bookmarks ul li div.bookmark:hover { background-color: #F1F7FF; border-color: #B6D4FC; }
#bookmarks ul li div.bookmark:hover .url { visibility: visible; }
#bookmarks ul li div.bookmark.selected { background-color: #DEECFE; border-color: #7DA2CE; cursor: default; }
#bookmarks ul li div.bookmark.selected .url { visibility: visible; }
#bookmarks ul li div.bookmark.selected .additional { display: block; }
