body, html {
  height: 100%;
  overflow: hidden;
}

#container, #main {
  height: 100%;
  overflow: hidden;
}

#main {
  & > ul {
    margin-bottom: 0;
  }
}

ul#labels, ul#bookmarks {
  overflow: auto;
  white-space: nowrap;
  height: 100%;
  padding: 5px;

  li {
    list-style-type: none;
    font-size: 0.9em;
    line-height: 1.2em;
    border: 1px solid #FFF;
  }
}

ul#labels { 
  float: left;
  width: 50%;
  max-width: 330px;
  
  ul {
    padding-left: 20px;
    margin-bottom: 0;
  }

  li {

    a.private {
      color: #999;
    }
  }

  a {
    color: #333;

    &:visited {
      color: #333;
    }
  }
}

ul#bookmarks {

  li {
    padding: 0 4px;

    a {
      color: #11a;

      &:visited {
        color: #51a;
      }

      &.private {
        color: #999;
      }

      .url {
        color: #999;
        visibility: hidden;
      }
    }

    &.highlight {
      background-color: #F1F7FF;
      border-color: #B6D4FC;

      .url {
        visibility: visible;
      }
    }
  }
}