body, html {
  height: 100%;
  overflow: hidden;
}

#container, #main {
  height: 100%;
  overflow: hidden;
}

#main {
  & > ul {
    margin-bottom: 0;
  }
}

ul#labels { 
  overflow: auto;
  white-space: nowrap;
  float: left;
  height: 100%;
  width: 330px;
  
  ul {
    padding-left: 20px;
    margin-bottom: 0;
  }

  li {
    list-style-type: none;

    a.private {
      color: #999;
    }
  }

  a {
    color: #333;

    &:visited {
      color: #333;
    }
  }
}

ul#bookmarks {
  overflow-x: hidden;
  overflow-y: auto;
  white-space: nowrap;
  margin-left: 340px;
  height: 100%;

  li {
    list-style-type: none;

    a {
      color: #11a;

      &:visited {
        color: #51a;
      }

      &.private {
        color: #999;
      }

      .url {
        color: #999;
        visibility: hidden;
      }
    }
  }
}